:root {
  --font-size: 32px;
  --max-size: 1440px;
  --dark-blue: hsl(240, 38%, 20%);
  --grey-blue: hsl(240, 18%, 77%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Inter", sans-serif;
  font-size: var(--font-size);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  max-width: var(--max-size);
  margin: 0 auto;
}

main#main {
  min-height: 98vh;
  position: relative;
  display: flex;
}

#main > img {
  position: absolute;
}

#quotes {
  top: 4.8rem;
  left: 9rem;
  width: 3.8rem;
}

#pattern {
  width: 16rem;
  top: 2rem;
  right: 4rem;
}

#curve {
  bottom: 0;
  width: 15rem;
}

.wrapper {
  z-index: 1;
  position: relative;
  width: 29.93rem;
  height: 12.3rem;
  margin: 3.5rem auto;
  display: grid;
  grid-template-columns: 1.95fr 1fr;
}

.inner-wrapper {
  height: 7rem;
  z-index: 3;
  position: relative;
  margin-top: 3.5rem;
}

.text {
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.info {
  font-size: 0.5rem;
}

.fade {
  color: var(--grey-blue);
}

.frame {
  position: absolute;
  width: 383.1px;
  height: 393.6px;
  right: 0;
}

.frame > img {
  height: 100%;
}

.toggle {
  position: absolute;
  width: 2.6rem;
  height: 1.2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0 0.4rem;
  background-color: #ffffff;
  -webkit-box-shadow: 3px 6px 10px -4px rgba(51, 51, 51, 1);
  -moz-box-shadow: 3px 6px 10px -4px rgba(51, 51, 51, 1);
  box-shadow: 3px 6px 10px -4px rgba(51, 51, 51, 1);
  right: 14.3rem;
  top: 15.3rem;
  z-index: 2;
}

.slide {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: slide;
  animation-duration: 1.5s;
}

@-webkit-keyframes slide {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
