@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin animation($duration) {
  -webkit-animation-name: slide;
  -webkit-animation-duration: $duration;
  animation-name: slide;
  animation-duration: $duration;
}

@function calculate($value) {
  $result: $value / 375px * 100vw;
  @return $result;
}
